@model ProyectoPAW2.Models.Proveedor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroProveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroProveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompania)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompania)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionExact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionExact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Districto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Districto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProve" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
